@use 'variables' as *;
@use '../mixins/mixins' as *;

html {
  background-color: var(--darkblue);
}

// Main content
.main {
  margin-top: 58px;
}

// Section wrapper
.section {
  padding: $spacing-6 $spacing-6;

  @media screen and (min-width: $size-content-desktop) {
    padding: $spacing-6 $spacing-8;
    max-width: $size-content-desktop;
    margin: 0 auto;
  }
}

// Utility class
@media (min-width: $size-content-desktop) {
  .desktop\:display-block {
    display: block;
  }
}

.intro {
  background-image: linear-gradient(
    to bottom,
    rgba(14, 11, 29, 0.9) 0%,
    rgba(14, 11, 29, 0.7) 60%,
    rgba(14, 11, 29, 0) 95%
  ),
    url('/assets/images/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 122px;
  margin-top: 120px;

  h1 {
    color: var(--white);
    position: relative;
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: $size-content-desktop) {
      font-size: 32px;
      margin: 0;
    }
  }

  p {
    text-align: center;
    margin: 0 72px 24px;
  }
}

.expertise {
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card {
      background: var(--gradient-deep-purple);
      padding: 24px;
      border-radius: 4px;
      text-align: center;

      img {
        width: 50px;
      }

      h3 {
        font-family: "Zilla Slab", serif;
        font-size: 20px;
        font-weight: bold;
      }

      li {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.quotes {
  background: var(--gradient-light-purple);
}